.upload-download{
  position: relative;
  padding-top: 100px;
  padding-left: 140px;
  padding-right: 100px;
  padding-bottom: 40px;
  background-color: #fff;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.selectfile {
  // width: 500px;
  margin: 0 auto;
  padding-left: 40px;
  // margin-right: 100px;
  width: 300px;
  height: 50px;
  margin-bottom: 100px;
  color: gray;
  background-color: white;
  /* 确保文本选中状态也有正确的颜色 */
  -webkit-text-fill-color: gray;
}

/* 当选中文件时，更改样式 */
.selectfile:focus {
  border-color: blue;
}

/* 当选中文件时，文件列表显示时的样式 */
.selectfile::placeholder {
  color: lightgray;
}

.uploadfile  {
  width: 100px;
  height: 50px;
  // background-color: #8bc486;
  margin-right: 30px;

}

.downloadfile {
  position: absolute;
  top: 363px;
  right: 160px;
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-left: 148px;
  font-size: 16px;
  background-color: #409EFF;
  border-color: #409EFF;
  border-radius: 20px;

}

@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
