.table_container {
  background: #ffffff;
  padding: 10px 30px 40px 30px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  h3{
   font-weight: 600;
  }
  .queryForm {
    margin-top: 30px;
    text-align: left;
    .el-form-item__label {
      text-indent: 20px;
    }
    .el-form-item {
      &.btn_wrapper {
        margin-right: 0;
        text-align: left;
      }
      .el-date-editor--daterange.el-input__inner {
        width: 100%;
      }
      .el-button--mini {
        padding: 7px 7px;
      }
    }
    .el-select {
      width: 100%;
    }
  }
  .table_list{
    /deep/ .el-table .cell {
      word-break: break-word;
    }
    /deep/ .el-table th {
      padding: 10px 0;
      font-weight: 600 !important;
    }
  }
}